// TODO Condense this.
List((
    texture_width: 72,
    texture_height: 175,
    sprites: [
        // Music off
        (
            x: 0,
            y: 0,
            width: 36,
            height: 25,
        ),
        // Music on
        (
            x: 36,
            y: 0,
            width: 36,
            height: 25,
        ),
        // WS off
        (
            x: 0,
            y: 25,
            width: 36,
            height: 25,
        ),
        // WS on
        (
            x: 36,
            y: 25,
            width: 36,
            height: 25,
        ),
        // WR off
        (
            x: 0,
            y: 50,
            width: 36,
            height: 25,
        ),
        // WR on
        (
            x: 36,
            y: 50,
            width: 36,
            height: 25,
        ),
        // Start Up
        (
            x: 0,
            y: 75,
            width: 72,
            height: 25,
        ),
        // Start Down
        (
            x: 0,
            y: 100,
            width: 72,
            height: 25,
        ),
        // Conf Up
        (
            x: 0,
            y: 125,
            width: 72,
            height: 25,
        ),
        // Conf Down
        (
            x: 0,
            y: 150,
            width: 72,
            height: 25,
        ),
    ],
))
