(
    axes: {
        "left_paddle": Emulated(pos: Key(W), neg: Key(R)),
        "right_paddle": Emulated(pos: Key(Up), neg: Key(Down)),
    },
    actions: {
        "quit": [[Key(Q)]],
        "pause": [[Key(Escape)]],
    },
)
